<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    <beans:bean id="appUserDetailsService" class="com.gmail.andersoninfonet.jsfcomplete.security.AppUserDetailsService" />
    
	<beans:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
	    <beans:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler"/>
	    <beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
	</beans:bean>
	
	<beans:bean id="jsfAccessDeniedHandler" class="com.gmail.andersoninfonet.jsfcomplete.security.JsfAccessDeniedHandler">
	    <beans:property name="loginPath" value="/acessoNegado.jsf" />
	    <beans:property name="contextRelative" value="true" />
	</beans:bean>
	
	<beans:bean id="authenticationEntryPoint" class="com.gmail.andersoninfonet.jsfcomplete.security.JsfLoginUrlAuthenticationEntryPoint">
	    <beans:property name="loginFormUrl" value="/login.jsf"/>
	    <beans:property name="redirectStrategy" ref="jsfRedirectStrategy" />
	</beans:bean>
	
	<beans:bean id="jsfRedirectStrategy" class="com.gmail.andersoninfonet.jsfcomplete.security.JsfRedirectStrategy"/>
    
    <http pattern="/login.jsf" security="none" />
    <http pattern="/error.jsf" security="none" />
    <http pattern="/javax.faces.resource/**" security="none" />
    
	<http auto-config="false" use-expressions="true">
		<custom-filter ref="exceptionTranslationFilter" before="FILTER_SECURITY_INTERCEPTOR" />
	
		<intercept-url pattern="/home.jsf" access="isAuthenticated()" />
		<intercept-url pattern="/acessoNegado.jsf" access="isAuthenticated()" />
		<intercept-url pattern="/dialogos/**" access="isAuthenticated()" />
		<intercept-url pattern="/pedidos/**" access="hasAnyRole('USUARIO', 'ADMINISTRADOR')" />
		<intercept-url pattern="/cadastros/**" access="hasAnyRole('USUARIO', 'ADMINISTRADOR')" />
		<intercept-url pattern="/produtos/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/relatorios/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/emails/**" access="hasAnyRole('USUARIO', 'ADMINISTRADOR')" />
		<intercept-url pattern="/**" access="denyAll" />
		
		<form-login login-page="/login.jsf" authentication-failure-url="/login.jsf?invalid=true" 
			default-target-url="/" always-use-default-target="true" />
		<logout logout-url="/j_spring_security_logout" invalidate-session="true" />
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
			  <password-encoder hash="md5"/>  
		</authentication-provider>
	</authentication-manager>
           
</beans:beans>